@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  justify-content: center;
  display: flex;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 100px;
  max-height: 300px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(var(--foreground-rgb), 0.2);
  background: rgba(var(--foreground-rgb), 0.1);
  color: inherit;
  font-size: 1rem;
  line-height: 1.5;
  transition: border-color 0.2s ease;
}
